/* GLOBALS */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    font-family: 'Bangers', cursive;
    margin: 0 auto;
}

h1{
    margin: 0;
}

:root{
    /* ----- BUTTON COLORS ----- */
    /* https://colordesigner.io/#00305A-004B8D-0074D9-4192D9-7ABAF2 */
    --blue: #0074D9;
    --blue_light: #a7d6ff;
    /* https://colordesigner.io/#450003-5C0002-94090D-D40D12-FF1D23 */
    --red: #D40D12;
    --red_light: #f89496;
    /* https://colordesigner.io/#7F007D-FF4CFC-FF00FB-7F267E-CC00C9 */
    --purple: #a500a3;
    /* https://colordesigner.io/#7F007D-FF4CFC-FF00FB-7F267E-CC00C9 */
    --violet: #ff8cfd;
    /* https://colordesigner.io/#FFEB3B-FFFF8D-FFFF00-FFEA00-FFD600 */
    --yellow:#FFFF00;

    --white: #fff;
}

/* HEADER */
header{
    background-color: aqua;
    background-image: url("images/001.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    justify-content: center;
    height:265px;
    opacity: 85%;
    text-align: center;
}

#logoName{
    opacity: 100%;
}

#logoPoke{
    height: 200px;
    margin-left: 55px;
    opacity: 85%;
    width: 200px;
}

/* buttons */
.head-btn{
    display: flex;
    justify-content: center;
}

button{
    background-color: var(--yellow);
    border: 3px solid var(--violet);
    border-radius: 25px;
    color: var(--purple);
    font-family: 'Bangers', cursive;
    font-size: 1rem;
    letter-spacing:0.3em;
    margin-left: 5px;
    margin-top: 5px;
    padding: 15px 63px;
    text-align: center;
}

button:hover{
    cursor: pointer;
    transform: scale(1.05)
}

button:active{
    
    border: 3px solid var(--yellow);
    color: var(--white);
}

#btn-blue:active{
    background-color: var(--blue_light);
}

#btn-red:active{
    background-color: var(--red_light);
}

.textBlue{
    color: var(--blue);
    font-weight: 700;
}

.textRed{
    color: var(--red);
    font-weight: 700;
}

/* media */
@media (min-width: 600px) {
    body{
        background-color: red;
    }
}