/* GLOBALS */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Bangers', cursive;
    margin: 0 auto;
    min-width: 505px;
}

h1{
    margin: 0;
}

image{
    background-repeat: no-repeat;
    background-size: cover;
}

:root{
    /* https://colordesigner.io/#0B2631-18445D-1F7799-04C4D9-79E6F2 */
    --aqua: #79E6F2;
    --aqua01: #58e0ef;
    --aqua02: #0d7984;
    /* ----- BUTTON COLORS ----- */
    /* https://colordesigner.io/#00305A-004B8D-0074D9-4192D9-7ABAF2 */
    --blue: #0074D9;
    --blue_light: #a7d6ff;
    /* https://colordesigner.io/#450003-5C0002-94090D-D40D12-FF1D23 */
    --red: #D40D12;
    --red_light: #f89496;
    /* https://colordesigner.io/#7F007D-FF4CFC-FF00FB-7F267E-CC00C9 */
    --purple: #a500a3;
    /* https://colordesigner.io/#7F007D-FF4CFC-FF00FB-7F267E-CC00C9 */
    --violet: #ff8cfd;
    /* https://colordesigner.io/#FFEB3B-FFFF8D-FFFF00-FFEA00-FFD600 */
    --yellow:#FFFF00;

    --white: #fff;
}

/* HEADER */
header{
    background-color: var(--aqua);
    background-image: url("images/001.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    justify-content: center;
    height:265px;
    opacity: 85%;
    text-align: center;
}

#logoName{
    opacity: 100%;
}

/* Pokemon at top page */
#logoPoke{
    animation: pokeS 0.1s infinite;
    height: 200px;
    margin-left: 55px;
    opacity: 85%;
    width: 200px;
}

@keyframes pokeS{
    0% {
        transform: skewX(0deg);
    }
    25%{
        transform: skewX(1deg);
    }
    50% {
        transform: skewX(0deg);
    }
    75%{
        transform: skewX(-1deg);
    }
    100% {
        transform: skewX(0deg);
    }
}

#logoPoke:hover{
    animation: pokeL 0.1s infinite;
    cursor: not-allowed;
}

@keyframes pokeL{
    0% {
        transform: skewX(0deg);
    }
    25%{
        transform: skewX(10deg);
    }
    50% {
        transform: skewX(0deg);
    }
    75%{
        transform: skewX(-10deg);
    }
    100% {
        transform: skewX(0deg);
    }
}

/* #logoPoke:active{
    transform:scale(1.5);
} */

/* buttons */
#s-btn{
    background-color: var(--aqua01);
    border-top: 2px solid var(--yellow);
    border-bottom: 1px solid var(--blue);
    padding: 10px 0 15px 0 ;
}

.head-btn{
    display: flex;
    justify-content: center;
}

button{
    background-color: var(--yellow);
    border: 3px solid var(--violet);
    border-radius: 25px;
    color: var(--purple);
    font-family: 'Bangers', cursive;
    font-size: 1rem;
    letter-spacing:0.3em;
    margin-left: 5px;
    margin-top: 5px;
    padding: 15px 63px;
    text-align: center;
}

button:hover{
    cursor: pointer;
    transform: scale(1.05)
}

button:active{ 
    border: 3px solid var(--yellow);
    color: var(--white);
}

#btn-blue:active{
    background-color: var(--blue_light);
}

#btn-red:active{
    background-color: var(--red_light);
}

.textBlue{
    color: var(--blue);
    font-weight: 700;
}

.textRed{
    color: var(--red);
    font-weight: 700;
}

/* Loading */
.loading{
    animation: loadingAnim 1.2s infinite;
    background-color: var(--yellow);
    border: 2px solid var(--blue);
    border-radius: 50px;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    width: 250px;
}

@keyframes loadingAnim{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

/* Cards */
#s-cards{
    background-color: var(--aqua02);
    display: flex;
    justify-content: center;
    padding: 0 0 38px 0;
}

#blueCard{
    /* border: 1px solid black; */
    /* background-image: url("images/card_back.png"); */
    cursor: pointer;
    margin-right: 50px;
    margin-top: 40px;
    max-height: 342px;
    max-width: 245px;
}

#cardBlue{
    object-fit: cover;
}
    
/* #blueCard:hover{
    transform: scale(1.2);
}

#redCard{
    cursor: pointer;
}


#redCard{
    margin-top: 40px;
    max-height: 600px;
    max-width: 200px;
}

#redCard:hover{
    transform: scale(1.2);
} */

.contCardBlue{
    background-image: url("images/card_back.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 1px solid blue; */
    height: 342px;
    margin-right: 20px;
    margin-top: 20px;
    width: 245px;
}

.contCardBlue:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.contCardRed{
    background-image: url("images/card_back.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 1px solid red; */
    height: 342px;
    margin-top: 20px;
    width: 245px;
}

.contCardRed:hover{
    cursor: pointer;
    transform: scale(1.2);
}


/* media */
@media (min-width: 600px) {
    body{
        background-color: red;
    }
}